@model IEnumerable<ChamadosTI.Models.TipoChamado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoChamado }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoChamado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoChamado })
        </td>
    </tr>
}

</table>
<link href="~/Content/bootstrap.css" rel="stylesheet" />